@import './main_style.css';

label {
    font-family: paperozi;
    display: block;
    margin-left: 8px;
    margin-bottom: 8px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    padding-left: 16px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 1rem;
}

input[type="submit"] {
    background-color: #0099cc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
}