
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 32px;
  background: rgb(15, 15, 15); /* 흐린배경 */
  font-size: 0.85rem;
  color: #aaaaaa;
}

.footer img {
  opacity: 0.7;
  height: 60px;
}