footer {
  align-items: center;
  padding: 120px;
  background: rgb(15, 15, 15); /* 흐린배경 */
  font-size: 0.85rem;
  color: #4a4a4a;
}

.footer img {
  opacity: 0.2;
  height: 60px;
}

.footer-context {
  display: flex;
  justify-content: space-between;
}

.footer-links {
  margin-top: 20px;
}