div {
    text-align: center;
}
div h1 {
    font-size: 2rem;
    font-weight: bold;
}
div h2 {
    font-size: 1.5rem;
    font-weight: bold;
}
div h3 {
    font-size: 1.25rem;
    font-weight: bold;
}