.start-section {
    margin-top: 120px;
    margin-bottom: 60px;
    text-align: left;
    padding: 0 20px;
    min-width: 80vw;
}

.start-section-title {
    font-size: 1rem;
    font-weight: bold;
}

.first-section-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.section-text {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
