.project-box {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 37px;
    padding: 18px;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.project-box:hover {
    transform: translateY(-5px);
}

.project-title {
    font-family: paperozi;
    font-size: 1.5rem;
    font-weight: 800;
}

.public-badge,
.private-badge {
  border: 2px solid;
  border-color: #4caf50; /* Public 뱃지 색상 */
  color: #4caf50;
  padding: 5px 10px;
  width: 64px;
  border-radius: 50px;
  text-align: center;
  font-family: paperozi;
  font-size: 0.7rem;
  font-weight: 600;
}

.private-badge {
  border-color: #f44336; /* Private 뱃지 색상 */
  color: #f44336;
}

.tech-stack {
    font-family: paperozi;
    font-size: 0.9rem;
    font-weight: 600;
    color: #3c3c3c;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
