.modal-content {
  position: relative;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  max-width: 600px;
  margin: auto;

  width: 100%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-title {
    font-family: paperozi;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 10px;
}

.modal-tech-stack {
    font-family: paperozi;
    font-size: 0.9rem;
    font-weight: 600;
    color: #3c3c3c;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;
}

.modal-description {
    margin-top: 15px;
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
}