@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255,255,255,0.7); /* 흐린배경 */
  padding: 8px 16px;
}

.left {
  font-weight: bold;
}

.right {
  display: flex;
  gap: 16px;
}

.link {
  color: #444;
  text-decoration: none;
  font-size: 0.95rem;
}

.link:hover {
  color: #0099cc;
  text-decoration: underline;
}
