@import "tailwindcss";
@import "./components/styles/webfonts.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@layer base {
  h1 {
    font-family: paperozi;
    font-weight: 800;
  }

  h2 {
    font-family: paperozi;
    font-size: 1.5rem;
    font-weight: 700;
  }

  h3 {
    font-family: paperozi;
    font-size: 1.2rem;
    font-weight: 600;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
  }

  b {
    font-family: paperozi;
  }
}